.side-menu {
	position: fixed;
	height: 100vh;
	width: 200px;
	background-color:white;

	p{
		margin-left: 1rem;
		text-transform: uppercase;
		font-size: 12px;
		color: #999999;
		font-weight: bold;
	}

	ul {
		list-style-type: none;
		li{
			margin-left: -1.5rem;
			padding: .5rem 0;
		}
		li:hover{
			background-color: #e6f2ff;
			color: #00cc00;
		}
		a{
			padding-left: 1rem;
			color: #595959;
		}
		a:hover{
			text-decoration: none;
		}
	}

}